In [3]:
import pandas as pd

In [11]:
df = pd.read_csv("budget_data.csv")

In [12]:
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [13]:
total_months = df['Date'].nunique()

In [14]:
print(f"Total Months: {total_months}")

Total Months: 86

In [15]:
total_profit_losses = df['Profit/Losses'].sum()

In [16]:
print(f"Total: ${total_profit_losses}")

Total: $22564198

In [17]:
df['Profit/Losses Shifted'] = df['Profit/Losses'].shift(1)
df['Profit/Losses Change'] = df['Profit/Losses'] - df['Profit/Losses Shifted']
average_change = df['Profit/Losses Change'].mean()
print(f"Average Change: ${average_change:.2f}")

Average Change: $-8311.11

In [18]:
max_profit_increase = df['Profit/Losses Change'].max()
max_profit_increase_date = df.loc[df['Profit/Losses Change'] == max_profit_increase, 'Date'].values[0]
print(f"Greatest Increase in Profits: {max_profit_increase_date} (${max_profit_increase})")

Greatest Increase in Profits: Aug-16 ($1862002.0)

In [19]:
max_profit_decrease = df['Profit/Losses Change'].min()
max_profit_decrease_date = df.loc[df['Profit/Losses Change'] == max_profit_decrease, 'Date'].values[0]
print(f"Greatest Decrease in Profits: {max_profit_decrease_date} (${max_profit_decrease})")

Greatest Decrease in Profits: Feb-14 ($-1825558.0)

In [20]:
with open('financial_analysPrintis.txt', 'w') as f:
    f.write("Financial Analysis\n")
    f.write("----------------------------\n")
    f.write(f"Total Months: {total_months}\n")
    f.write(f"Total: ${total_profit_losses}\n")
    f.write(f"Average Change: ${average_change:.2f}\n")
    f.write(f"Greatest Increase in Profits: {max_profit_increase_date} (${max_profit_increase})\n")
    f.write(f"Greatest Decrease in Profits: {max_profit_decrease_date} (${max_profit_decrease})\n")

NameError: name 'Print' is not defined